/* ScrollHint.css */

.line {
	position: absolute;
	left: 50%;
	bottom: 10%;
	width: 1px;
	background: black;
	height: 0;
	animation: drawLine 2s forwards;
}

@keyframes drawLine {
	from {
		height: 0%;
	}
	to {
		height: 100%;
	}
}

.branch {
	position: absolute;
	white-space: nowrap;
	font-size: 0.8em;
	bottom: calc(var(--branch-index) * var(--branch-spacing));
}

.branch0 {
	right: 10px;
}

.branch1 {
	left: 10px;
	direction: rtl;
}

.chevron {
	position: absolute;
	bottom: -30px;
	left: -15px;
	cursor: 'pointer';
}

.line.right .branch {
	left: 10px;
}

.line.right .branch0 {
	bottom: 8%;
}

.line.right .branch1 {
	right: 10px;
	bottom: 2%;
	direction: ltr;
}
