.titleBox {
	position: relative; 
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	width: 60%; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* height: 100%; */
	width: 40%;
}

.rectanglesContainer {
	height: 100%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.container, .rectanglesContainer {
		width: 90%;
	}

	.titleBox {
		font-size: 0.8em;
	}
}
