/* ServicesLayer.module.css */

.container {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 768px) {
	.container {
		left: 5%;
		top: 5%;
		width: 90%;
	}
}
