@font-face {
    font-family: "CenturySchoolbookBT-Monospace";
    src: url("/fonts/CenturySchoolbookBT-Monospace.otf");
    font-weight: 400; /* Adjust as needed */
    font-style: normal; /* Adjust as needed */
}
