.container {
	display: flex;
	width: 100%;
	height: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.leftSection {
	position: relative;
	width: 50%;
	height: 100%;
	background-color: #d1cfae;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	opacity: 0.9;
	padding: 20px;
	background-image: url('/noiseTest1.png');
	background-blend-mode: overlay;
}

.imageContainer {
	position: absolute;
	width: 40%;
	height: 60%;
	right: 0;
	background-image: url('/al5.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
}

.rightSection {
	width: 50%;
	height: 100%;
	position: relative;
	opacity: 0.9;
	background-image: url('/noiseTest1.png');
	background-blend-mode: overlay;
}

.layer1,
.layer2,
.layer3 {
	position: absolute;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	background-image: url('/noiseTest1.png');
	background-blend-mode: overlay;
}

.layer1 {
	width: 100%;
	height: 100%;
	bottom: 0;
	background-color: #f2e2d7;
	z-index: 1;
}

.layer2 {
	width: 80%;
	height: 90%;
	background-color: #ebd4c2;
	z-index: 2;
}

.layer3 {
	width: 65%;
	height: 70%;
	background-color: #DEEEEB;
	z-index: 3;
}

.textContainer {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 10px;
	font-size: 2em;
	text-align: start;
	opacity: 0.6;

}

.text {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 4em;
	opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    
    .leftSection, .rightSection {
        width: 100%;
		height: 40%;
    }
	.leftSection{
		   display: flex;
		   flex-direction: column;
        align-items: center;
			justify-content: flex-start;
	}

    .imageContainer {
		order:2;
          width: 20%;
        height: 50%;
		        position: relative;

    }

    .layer1,
    .layer2,
    .layer3 {
        width: 100%;
        height: auto;
		        position: relative;

    }


    .layer2 {
        height: 40%;
    }

    .layer3 {
        height: 40%;
    }

  .text {
	order:1;
        font-size: 1em; 
        text-align: center;
    }
	.textContainer {
        position: relative;
		font-size: 1em; /* adjust this value to fit the text within the box */
        bottom: auto;
        text-align: center;
    }
}